<footer>
    <div class="vf-footer__inner vf-u-margin__top--xxl">
        <!-- <p class="">To enquire on how to collaborate on the European COVID-19 platform: <span class="vf-link">ecovid19@ebi.ac.uk</span>.</p>
        <p class="">To share your data on COVID-19 Data Portal: <span  class="vf-link">virus-dataflow@ebi.ac.uk</span>.</p> -->
        <p style="color:#03BFD7">Supported by:</p>
        <div class="vf-footer__links-group | vf-grid">
            <div class="vf-links">
                <div class="vf-u-padding__top--md">
                    <span><img height="60" src="assets/images/COMPARE-LOGO-cropped.jpg"></span>
                </div>
            </div>
            <div class="vf-links">
                <div class="vf-u-padding__top--md">
                    <span><img height="60" src="assets/images/VEO2-LOGO.png"></span>
                </div>
            </div>
            <div class="vf-links">
                <div class="vf-u-padding__top--md">
                    <span><img height="60" src="assets/images/RECODID-LOGO.png"></span>
                </div>
            </div>
            <div class="vf-links">
                <div class="vf-u-padding__top--md">
                    <span><img align="left" height="60" src="assets/images/EU-FUNDING-STATEMENT-LOGO.png"></span>
                    <p style="font-size:60%;" align="left">
                        This work is supported by European Union’s<br>
                        Horizon 2020 research and innovation programme<br>
                        under grants no. 643476 (COMPARE), 825746<br>
                        (RECODID) and 874735 (VEO).
                    </p>
                </div>
            </div>
        </div>

        <section class="vf-footer__legal | vf-grid vf-grid__col-1">
            <!-- <ul class="vf-footer__list vf-footer__list--legal | vf-list vf-list--inline">
              <li class="vf-list__item">
                <a href="JavaScript:Void(0);" class="vf-list__link">Entry</a>
              </li>
              <li class="vf-list__item">
                <a href="JavaScript:Void(0);" class="vf-list__link">Entry</a>
              </li>
              <li class="vf-list__item">
                <a href="JavaScript:Void(0);" class="vf-list__link">Entry</a>
              </li>
            </ul> -->
            <!-- <p class="vf-footer__legal-text">Maybe an address too, 5555, Somewhere, Earth.</p> -->
            <!-- <p class="vf-footer__legal-text">Tel: +49 00 000 000.</p> -->
            <!-- <a class="vf-footer__link" href="JavaScript:Void(0);">Another entry</a> -->
        </section>
    </div>
</footer>
